body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E3F2FD;
  color: #FFF;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  background-color: #000;
}

header{
  color: #B2B2B2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2{
  font-size: 1.6rem;
  text-align: center;
}

header span{
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.volume-slider input{
  accent-color: #FFF;
}

.check-keys input{
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #4B4B4B;
  cursor: pointer;
  position: relative;
}

.check-keys input::before{
  content: '';
  height: 20px;
  width: 20px;
  background-color: #8C8C8C;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.check-keys input:checked::before{
  left: 35px;
  background-color: #FFF;
}

.piano{
  margin-top: 40px;
  display: flex;
}

.piano .key{
  user-select: none;
  cursor: pointer;
  list-style: none;
  color: #A2A2A2;
  position: relative;
  text-transform: uppercase;
}

.piano .white{
  width: 70px;
  height: 230px;
  border-radius: 8px;
  border: 1px solid black;
  background-image: linear-gradient(#FFF 96%, #EEE 4%);
}

.piano .white.active{
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom,#FFF 0%, #EEE 100%);
}

.piano .black{
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(#333, #000);
}

.piano .black.active{
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(to bottom,#000, #434343);
}

.piano span{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}